@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

li a i{
    color: orange;
    font-size: 1.2rem;
}
.first-nav .navbar-nav{
    display: flex !important;
}
@media (min-width: 500px) {
    .first-nav .navbar-nav{
        display: flex !important;
    }
}